/* *{
    margin: 0;
    padding: 0;
}
.head{
    background: linear-gradient(rgba(14, 209, 216, 0.445),rgba(29, 200, 212, 0.6)),url(./images/wall4.png);
    object-fit: cover;
    height: 150vh;
    width: 100%;
}
nav ul li a{
    float: left;
    clear: left;
    color: rgb(0, 255, 242);
    font-size: 23px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}
nav ul li{
    display: inline-block;
    justify-content: center;
    align-items: center;
    float: right;
    clear: left;
    margin: 25px 35px;
}
nav{
    background-color:transparent;
    height: 10vh;
    transition: 1s;
}
nav:hover{
    background: crimson;

}
nav li a:hover{
    color: rgb(255, 255, 255);
    transition: 0.5s;
}
.contain{
    margin-left: 25px;
    color: aqua;
    font-size: 33px;
    font-weight: 500;
}
.discrip{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-left: 26px;
    height: 59vh;
} */
/* @keyframes ggg{
    0%{
        opacity: 0;
        transform: (0px);
    }
    100%{
        opacity: 1;
        transform: (100px);
    }
} */
*{
    margin: 0;
    padding: 0;
}
:root{
    --clr: rgb(228, 38, 38);
    --blah:rgb(0, 0, 0);
}
.main{
    height: 300vh;
    width: 100%;
    background: rgb(48,221,129);
    background: linear-gradient(41deg, rgba(48,221,129,1) 0%, rgba(62,217,205,1) 28%, rgba(181,12,236,1) 56%, rgba(191,51,232,1) 57%, rgba(219,43,126,1) 85%);
}
/* nav lai halka modify gardeu na paila...  */
nav{
    height: 7vh;
    width: 100%;
    /* background-color: rgb(53, 0, 0); */
    background: rgb(48,221,129);
    background: linear-gradient(90deg, rgba(48,221,129,1) 0%, rgba(42,237,222,1) 26%, rgba(181,12,236,1) 59%, rgba(25,203,187,1) 85%);
    position: sticky;
    align-items: center;
    justify-content: center;
    display: flex;
}
nav ul li{
    margin: 10px;
    /* margin-top:35px ; */
    padding:10px;
    display: inline;
    justify-content: center;
    align-items: center;
}
/* now aaba nav vitra vako lai halka herne layek banaideu  */
nav ul li a{
    text-decoration: none;
    font-size: 21px;
    color: rgb(255, 255, 255);
    /* margin-top: 
    paddin; */
    padding: 5px;
    /* margin-top: 110px; */
    letter-spacing: 2px;
    font-family: sans-serif;
    transition: 0.7s;
}
nav ul li a::before{
    width: 20%;
    color: tomato;
}
nav ul li a::after{
    width: 100%;
    color: crimson;

}
nav ul li a:hover{
    /* color: var(--blah); */
    text-decoration: 2px underline;
}
.logo-content span{
    color: aqua;
    font-size: 65px;
    font-weight: bold;
    position: relative;
    top: 10px;
    left: 25px;
    /* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: "Arial Black", Gadget, sans-serif;;
    /* margin-top: 25px ; */
    padding: 10px;
    -webkit-text-stroke: 2px #000000;
    text-shadow: 7px 5px black;
}
.logo-content p{
    font-size: 23px;
    width: 45%;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    margin-left: 35px;
    padding: 10px;
}
.logo-content ul li{
    margin-left: 55px;
    font-size: 20px;
    font-family: monospace;
    color: rgb(0, 0, 0);
    padding:3px;
    /* background-color: black; */
}
.logo-content ul p a{
    font-size: 15px;
    padding: 9px;
    /* background-color: black; */

    /* width: 455px !important; */
}

.logo-content a{
    font-size: 25px;
    color: rgb(255, 255, 255);
    background:black;
    border: 2px solid rgb(0, 255, 242);
    margin: 5px;
    margin-left: 45px;
    box-shadow: 2px 5px 5px aqua;

    padding: 10px;
    /* padding: 7px; */
    text-decoration: none;
    /* font-family:Arial, Helvetica, sans-serif; */
    border-radius: 12px;
}
.logo-content a:hover{
    /* opacity: 0.7; */
    color: rgb(255, 255, 255);
    /* border: 2px solid #ffffff; */
    color: aqua;
    /* font-weight: bold; */
    /* background-color: rgb(255, 28, 28); */
}
.content{
    background:url("./images/img5.jpg")no-repeat right;
    height: 55vh;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.img img{
    height: 350px;
    width: 320px;
    margin: 7px;
    border-radius: 25px;
    border: 2px solid var(--blah);
}
.teacher .teach img{
    height: 280px;
    width: 280px;
    border-radius: 25px;
    margin: 9px;
    /* margin-left: 10p ; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid purple;
}

.teacher .teach{
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 22%;
    margin-left: 10px;
    padding: 10px;
    border: 2px solid aqua;
    border-radius: 25px;
    width: fit-content;
}
#cr7{
    font-size: 35px;
    color: var(--blah);
    font-family: cursive;
    background-color: white;
    text-align: center;
}
.teach p{
    color: black;
    font-size: 17px;
    font-family:fantasy;
    text-align: center;
    letter-spacing: 0px;
    word-spacing: 3px;
}
.teach p a{
    text-decoration: none;
    color: blue;

}
.teach{
    margin: 10px auto;
}
form{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 35px;
    width: 20%;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    padding: 10px;
    box-shadow: 2px 5px 12px rgb(0, 0, 0);
}
input{
    margin: 9px;
    padding: 7px;
    border-radius: 7px;
    border-right: 4px solid rgb(27, 27, 27);
    border-bottom: 4px solid rgb(19, 19, 19);
    box-shadow: 2px 5px 5px rgb(46, 7, 51);
    width: 90%;
    font-size: 17px;
    color: black;
}
textarea{
    border: 2px solid black;
    border-radius: 23px;
    color: black;
    font-size: 20px;

}
input[type="submit"]{
    background-color: rgb(52, 53, 52);
    color: white;
    font-weight: bold;
    width: 90%;
    cursor: pointer;
    border: 2px solid black;
}
form{
    display: inline-table;
    justify-content: center;
    align-items: center;
    margin: 10px 25px;
}
.fa{
    font-size: 35px;
    align-items: center;
    color: rgb(0, 0, 0);

}
.fa i{
    color: white;
}
.contact p{
    color: rgb(0, 0, 0);
    font-size: 27px;
}
#skills p {
    margin: 30px;

}
#skills p a{
    padding: 10px;
}
.social a{
    margin: 3px 3%;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: inset 15px 15px 5px rgb(233, 38, 217), inset -15px -15px 5px rgb(224, 26, 224);
    padding: 9px;
    border-radius: 10px;
    object-fit: contain;
    width: fit-content;
    height: fit-content;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
    /* margin-left: 10%; */

}
.social a .fa:hover{
    color: white;
    /* border: black; */
}
.social{
    display: inline;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 30%;
    margin-top: 10px;
}
.social .fa{
    font-size: 40px;
    color: rgb(255, 238, 0);
    width: 40px;
    border: 2px solid rgb(255, 145, 0);
    border-radius: 9px;
    padding: 3px;
    /* margin: 9px ; */
    /* margin-right: 10px ; */
}
.social a{
    margin: 3px;
    padding: 5px;
    text-align: center;
    margin-right: 38px;
}
/* .fa fa-facebook{
    width: 75px;
} */
@media screen and (max-width:600px) {
    .social .fa{
        font-size: 40px;
        padding: 7px;
        /* width: 32px; */
    }
    .social{
        margin-left: 10px;
        padding: 0px;
    }
    .social a{
        margin-right: 2px;
    }
    .logo-content span{
        font-size: 35px;
        margin-left: 0px;
        padding: 2px;
        -webkit-text-stroke-color: 2px purple;

    }
    .content{
        height: 40vh;
    }
    .logo-content p{
        font-size: 15px;
        width: 90%;
    }
    .logo-content a{
        position: relative;
        top: -20px;
        left: 60%;
        font-size: 19px;
    }
    .logo-content ul p a{
        font-size: 13px !important;
        margin-left: 7px;
        position: relative;
        left: 0px;
        top: 20px;
        margin: 0px;
        /* padding: ; */
        border: 1px solid white;
        font-size: x-small !important;
    }
    /* .logo-content{
        background: linear-gradient(rgba(1,1,11,0.8),rgba(1,1,1,1),url("./images/img4.jpg"));
    } */
    .img{
        display: flex;

    }
    .img img{
        width: 80px !important;
        height: 85px;
        border-radius: 10px;
        margin: 5px;
        padding: 2px;
        /* margin-left: 10% !important; */
    }
    #cr7{
        font-size: 20px;
    }
    .teacher .teach img{
        height: 350px;
        width: 320px !important;
    }
    .teacher{
        display: block;
        justify-content: center;
        align-items: center;
    }
    .teach{

    }
    .main{
        height: fit-content;
    }

    h2{
        font-size: 23px;
        
    }
    span{
        font-size: 30px;
        margin-left: 65px;
    }
    nav ul li{
        margin: 5px ;
        padding: 0px;
        /* float: left; */

        /* clear: right; */
        /* display: flex;
        justify-content: center;
        align-items: center;
        text-align: left; */
    }
    nav ul li a{
        font-size: 15px;
        margin: 0;
        padding: 0;
    }
nav{
    background-color: crimson;
    height: 5vh;
}
 /* text lai (tyo gaurab lai modify yeha bata garnee) */
 /* teslai maile id gau deko xu so  */
 #gau{
     font-size: 35px !important;
     animation-name: ggg;
     animation-iteration-count: infinite;
     animation-delay: 1s;
    animation-direction: alternate-reverse;
 }
 #gau b{
     font-size: 35px;
     animation-name: ggg;
     animation-iteration-count: infinite;
     animation-delay: 1s;
    animation-direction: alternate-reverse;
    margin-top: 65px !important;
 }
 #foo{
     margin-top: 75px !important;
 }
 img{
     object-fit: cover !important;
     overflow: hidden;
     height: 100%;
     width: 20% !important;
 }
 @keyframes ggg{
     0%{color: transparent;}
     50%{color: black;}
     100%{color: blueviolet;}
 }
 .contact{
     width:88% !important;
     
 }
 .discrip{
     font-size: medium;
 }
 #skills{
     width: 80% !important;
     font-size: 13px;
 }
 .social a i{
     margin-left: 5px !important;
 }
}